<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Demo App">
    <test verbose="2" preserve-order="true" name="E2E Test">

        <parameter name="platformName" value="IOS"></parameter>
        <classes>
            <!-- class name contain package_Name.Class_Name -->
            <class name="tests.LoginTests">
                <methods>
            <include name="signin"/>
                </methods>
        </class>
            <class name="tests.NavigationTests">
                <methods>
                    <include name="validateHomePageNAvigation"/>
            </methods>
            </class>
            <class name="tests.RegistrationTests">
            <methods>
                <include name="signUp"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>