<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ranasameh/IdeaProjects/AppiumAutomationProject">
        <classes>
            <class name="tests.LoginTests">
                <methods>
            <include name="signin"/>
                </methods>
        </class>
            <class name="tests.NavigationTests"><methods><include name="validateHomePageNAvigation"/>
            </methods></class><class name="tests.RegistrationTests"><methods><include name="signUp"/>
            </methods></class></classes></test></suite>